{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}


	<div class="infos" style="text-align: center">
		<h1>Commande
			{{commande.id}}</h1>
		<h2>{{commande.datecommande|date('d-m-Y')}}</h2>

		<table>
			<thead>
				<tr>
					<th>Image</th>
					<th>Product</th>
					<th>Size</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				{% for produit in produits %}
					<tr>
						<td><img src={{produit.idprodtaille.getIdProduit().getPhotoUrl()}} alt={{produit.idprodtaille.getIdProduit().getNom()}} style='width: 80px'/></td>
						<td>{{produit.idprodtaille.getIdProduit().getNom()}}</td>
						<td>{{produit.idprodtaille.getTaille()}}</td>
						<td>{{produit.quantite}}</td>
						<td>{{produit.idprodtaille.getIdProduit().getPrix()}} €</td>
					</tr>
				{% endfor %} 
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{commande.montant}} €</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
