{% extends 'base.html.twig' %}

{% block title %}Brands 
	{{parent()}}
{% endblock %}

{% block body %}


	<div class='container container3'>
		{% for marque in marques %}

				<div class='brand'>
					<div class="logomarque">
						<img src=assets/img/{{marque.logo}} alt={{marque.nom}} class='logomarque'>
					</div>
					<h3>{{marque.nom}}</h3>
					<p>{{marque.description  | slice(0,100)}}...</p>
                    <a class='btn-fiche' href='../products?q=&marque%5B%5D={{marque.id}}'>See products</a>
				</div>
		{% endfor %}
	</div>
{% endblock %}
