{% extends 'base.html.twig' %}

{% block title %}Home
	{{parent()}}
{% endblock %}

{% block body %}
	<div class='hero'>
		<div class='hero-txt'>
			<p class='hero-new'>New</p>
			<p>Air Jordan 4 Retro SB
				<br>
				<span>Pine Green</span>
			</p>
			<a class='btn btn-home' href='/ficheproduct/2'>Discover</a>
		</div>
		<div class='contain-img'>
			<img src='https://cdn.shopify.com/s/files/1/2358/2817/products/nike-sb-air-jordan-4-pine-green-1_5000x.png?v=1678728244'>
		</div>
	</div>

	<div class='container'>
		{% for produit in produits %}
			<a href='/ficheproduct/{{ produit.id }}'>
				<div class='card'>
					<img class="pic"  src='assets/img/{{produit.photourl}}' alt='{{produit.slug}}'>
					<h3>{{produit.nom}}</h3>
					<p class='brand'>
						{{ produit.categorie | upper }}
					</p>
					<p class='price'>
						{{produit.prix}}
						€
					</p>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
