{% extends 'base.html.twig' %}

{% block title %}Home
	{{parent()}}
{% endblock %}

{% block body %}

	{{form_start(form)}}
	{{form_end(form)}}

	<div class='container'>
		{% for produit in produits %}
			<a href='/ficheproduct/{{ produit.id }}'>
				<div class='card'>
					<img src={% if 'cdn.shopify' in produit.photourl %}
					{{produit.photourl}} 
					{% else %}
					../assets/img/{{produit.photourl}} 	
					{% endif %} alt='{{produit.slug}}'>
					<h3>{{produit.nom}}</h3>
					<p class='brand'>
						{{ produit.categorie | upper }}
					</p>
					<p class='price'>
						{{produit.prix}}
						$
					</p>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
