{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.adresse) }}
	{{ form_row(registrationForm.ville) }}
	{{ form_row(registrationForm.pays) }}
    	{{ form_row(registrationForm.code_postal) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
