<nav>
	<a class='Logo' href="">WTNN</a>

	<ul class='list-nav'>
		<li>
			<a href="">{{'Sneakers' | upper}}</a>
		</li>
		<li>
			<a href="">{{'Brands' | upper}}</a>
		</li>

		{% if app.user %}
			<li>
				<a href="">{{'Profil' | upper}}</a>
			</li>
			<li>
				<a href="">{{'logout' | upper}}</a>
			</li>
		{% else %}
			<li>
				<a href="">{{'Sign up' | upper}}</a>
			</li>
			<li>
				<a href="">{{'Sign in' | upper}}</a>
			</li>
		{% endif %}
		<li>
			<a href="">{{'contact' | upper}}</a>
		</li>
		<li>
			<a href="">{{'cart' | upper}}</a>
		</li>
	</ul>
</nav>
